@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,800');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
@import '../css/carousel.css';
@import '../css/hover-min.css';

* {
  margin: 0;
  padding: 0;
}

$font-family: 'Montserrat', sans-serif;
$font-family2: 'Open Sans', sans-serif;

$light-black: rgb(49, 49, 49);
$light-black: rgb(49, 49, 49);
$nice-blue: rgb(23, 135, 251);
$nice-blue-dark: rgb(0, 88, 181);
$white: rgb(255, 255, 255);

%flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

%flex-center-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

%box-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.14);
}

%link-a {
  font-family: $font-family;
  font-size: 16px;
  font-weight: 400;
  border-color: $nice-blue;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  color: $nice-blue;
  padding: 4px 7px 4px 7px;
  text-decoration: none;

  &link {
    font-weight: 300;
  }

  &:hover {
    background-color: $nice-blue-dark;
    color: $white;
  }
}

a {
  @extend %link-a;
}

h {
  font-family: $font-family;
}

p {
  font-family: $font-family2;
}
