@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,900');
// @import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
@import '../css/carousel.css';
@import '../css/hover-min.css';

$font-family: 'Avenir', sans-serif;
$white: rgb(255, 255, 255);
$white-ish: rgb(229, 255, 157);
$red: rgb(208, 2, 27);

* {
  margin: 0;
  padding: 0;
  font-family: $font-family;
  filter: brightness(100%);
}

svg {
  filter: drop-shadow(3px 3px 3px $red);
}

h1 {
  left: 20px;
  font-weight: 900;
  color: $white;
  font-size: 60px;
  letter-spacing: 3.18px;
  line-height: 1.15;
}

h2 {
  position: absolute;
  top: -30px;
  font-weight: 900;
  color: $red;
  font-size: 40px;
  letter-spacing: 3.18px;
  text-shadow: 0 7px 7px rgba(0,0,0,0.50);
}

h4 {
  color: #00bcd4;
  font-size: 18px;
  text-shadow: 0 7px 7px rgba(0,0,0,0.50);

  &:hover {
    opacity: 0.75;
  }

  &:active {
    transform: scale(0.9, 0.9);
    transition-duration: 0.2s;
  }
}

p {
  font-size: 18px;
  font-weight: 900;
  color: $white;
  letter-spacing: 1.14px;
}

a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 900;
  color: #00bcd4;
  letter-spacing: 1.14px;
  text-shadow: 0 7px 7px rgba(0, 0, 0, 0.5);
}

#contacts {
  & a {
    font-size: 18px;
    color: $white;

    &:hover {
      color: $red;
    }
  }
}

a:hover {
  color: $white-ish;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text.small p {
  font-size: 12px;
}

.innerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5vh 5vw 5vh 5vw;
  width: 90vw;
  height: 90vh;

  & .box {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 80vh;
    height: 40vh;
    padding: 80px;
    background-image: linear-gradient(120deg, #0D0749 0%, #03032A 100%);
    box-shadow: 0 7px 7px 0 rgba(0,0,0,0.50);
    margin-top: 4vw; //if mobil
    
    &.animated {
      animation: fade-in 2s ease;

      @keyframes fade-in {
        0% {opacity: 0;}
        100% {opacity: 1;}
      }
    }

    & .myName {
      flex-direction: row;
    }

    & .text {
      width: 70%;
      display: flex;
      flex-direction: column;
    }

    & .pickSkill {
      text-align: end;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 180px;
      text-shadow: 0 7px 7px rgba(0,0,0,0.50);

      & .skill {
        margin-top: 20px;
        cursor: pointer;

        & p {
          color: #00bcd4;
          opacity: 0.2;
        }

        &.checked p {
          color: $red;
          opacity: 1;
        }
      }
    }
  }
  
  & .menuBox {
    align-self: flex-start;

    & .menuRow {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      margin-bottom: 7px;
      text-shadow: 0 7px 7px rgba(0,0,0,0.50);
      cursor: pointer;

      & p {
        text-align: right;
      }

      & .checkBox {
        margin-left: 15px;
        width: 15px;
        height: 15px;
        border: 3px solid $red;

        &.checked {
          background-image: linear-gradient(-180deg, #F5515F 0%, #9F041B 100%);
        }
      }
    }
  }
}

#home {
  background-image: linear-gradient(-171deg, #050034 9%, #21002C 51%, #B60202 100%, #FFFFFF 100%);
  position: relative;
  overflow: hidden;

  &.innerContainer .box {
    &#intro {
      flex-direction: column;
      align-items: flex-start;
    }

    &#whatIDo {
      flex-direction: row;
      align-items: flex-end;
    }

    &#contacts {
      flex-direction: column;
      justify-content: flex-end;
    }
  }
}

#projects {
  background-image: linear-gradient(-135deg, #0D0749 0%, #03032A 100%);
  height: 100vh;

  & a {
    margin-top: 5px;
  }

  & .menuBox {
    align-self: center;

    & h3 {
      color: $red;
      font-size: 30px;

    }
  }

  &.innerContainer .box {
    justify-content: flex-end;
  }

  .menuRow {
    opacity: 0.2;

    & h3 {
      color: #00bcd4;
    }

    &:hover {
      opacity: 0.75;
    }

    &.checked {
      opacity: 1;
      transition-duration: 0.3s;

      & h3 {
        color: #00bcd4;
        color: $red;
        transition-duration: 0.2s;
      }
    }
  }

  .box {
    flex-direction: column;
    align-items: flex-start;
  }

  & h3 {
    font-size: 29px;
    color: $red;
  }
}

#koalaLogo, #locoLogo, #tremoryLogo {
  top: -60px;
}

#hikikomoriLogo, #cinnoberLogo {
  top: -25px;
}

#freshcoastLogo {
  top: -90px;
}

#digiexamLogo {
  top: -70px;
}

#phocusLogo {
  top: -40px;
}

#badrumsbodenLogo {
  top: -85px;
}

.svgLogo {
  position: absolute;
  right: 30px;
}

#toggleButton {
  position: absolute;
  z-index: 10;
  bottom: 3vw;
  right: 5vw;
  text-shadow: 0 7px 7px rgba(0,0,0,0.50);
  cursor: pointer;

  & p:hover {
    color: $red;
  }
}

#projects #mobile-arrows-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

& #mobile-arrows {
  opacity: 1;
  display: flex;
  flex-direction: row;
  align-items: center;

  & p {
    font-size: 25px;
    margin: 4vw;
  }
}}

#mobileContainer {
  background-image: linear-gradient(-171deg, #050034 9%, #21002C 51%, #B60202 100%, #FFFFFF 100%);
  padding: 7vw;
  box-shadow: 0 7px 7px 0 rgba(0,0,0,0.50);

  & .square {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 14vw 7vw 7vw 7vw;
    border: 4px solid transparent;
    border-image: linear-gradient(-135deg, #2818C3 0%, #0A0A77 100%);
    border-image-slice: 1;

    margin-top: 5vw;

    &~.square {
      margin-top: 20vw;
    }

    &#contacts {
      padding-top: 30vw;
    }

    &#intro .text {
      margin-top: 15vw;
    }

    & a, a:hover {
      opacity: 1;
      color: $white;
    }
  }
}


