@import 'base.scss';

#intro {
  @extend %flex-center;
  width: fit-content;
  margin-left: 40vw;
  margin-top: -10.5vw;
}

 #hello {
  font-size: 28vw;
  line-height: 23vw;
  font-weight: 800;
   color: rgb(249, 249, 249);
   align-self: flex-start;
  font-family: $font-family;
 }
 
 #iam {
   font-weight: 300;
   font-size: 7vw;
   line-height: 5vw;
   color: $light-black;
 }
 
 #line {
   width: 29vw;
   height: 2px;
   padding: 1vw 0vw;
 }
 
 #msc {
   font-weight: 100;
   font-size: 0.9vw;
 }
 
 #boxContainer {
   display: flex;
   flex-direction: row;
   padding: 2vw 0vw;
   position: relative;
 }
 
 #boxContainer p {
   font-weight: 100;
   font-size: 1vw;
   text-align: center;
 }
 
 .box {
   @extend %flex-center;
   position: relative;
 }
 
 .squares {
   margin-bottom: 0.6vw;
   width: 10px;
   height: 10px;
 }
 
 #square1 {
   background-color: rgb(247, 60, 60);
 }
 
 #square2 {
   background-color: rgb(66, 244, 66);
 }
 
 #square3 {
   background-color: rgb(61, 114, 244);
 }
 
 #box1 {
    left: -3vw;
 }
 
  #box2 {
    left: 2.1vw;
  }
 
 #box3 {
   left: 5.8vw;
 }

 .break {
  display: none;
}
