@import 'base.scss';

.moreInfoContainer {
  @extend %box-shadow;
  margin-top: 6vw;
  margin-left: 6vw;
  margin-right: 6vw;
  margin-bottom: 6vw;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.moreInfoColumns {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.images {
  object-fit: contain;
}

button {
  border-radius: 2px;
  font-weight: 100;
  font-size: 1vw;
  padding: 1vw;
  background-color: white;
  color: black;
  border: 1px solid rgb(85, 85, 85);

    &:hover {
      background-color: rgb(85, 85, 85);
      color: white;
    }
}

.textContainer {
  margin-top: 3vw;
  margin-bottom: 3vw;
  width: 60%;
  font-weight: 300;

  a {
    margin-right: 10px;
  }
  
  h {
    color: $light-black;
    font-size: 22px;
    line-height: 200%;
  }

  p {
    color: $light-black;
    // font-size: 1vw;
    font-size: 14px;

  }
}

a {
  @extend %link-a;
}
