@import 'base.scss';

@media (max-width: 1200px) {
  #msc {
    font-size: 10px;
  }
  #boxContainer p {
    font-size: 12px;
  }
  .textContainer {
    width: 100%;
  }

  button {
    font-size: 12px;
  }
  h {
    font-size: 18px;
  }
}

 @media (max-width: 530px) {
  #cardContainer {
    grid-template-columns: auto;
  }

  .hvr-shrink.cards {
    width: 87.6vw;
    height: 35vw;
  }

  #intro {
    margin-left: 33vw;
  }

  #iam {
    font-size: 8vw;
  }

  #line {
    padding: 2vw 0vw;
  }

  // #cardContainer {
  //   margin-top: 20vw;
  // }

  //  .hvr-shrink.cards {
  //   width: 90vw;
  //   height: 30vw;
  //  }

   .break {
     display: block;
   }

   .footerLinks {
    font-size: 12px;
  }

  a {
    font-size: 12px;
  }
 }
 